* { box-sizing: border-box; }
h1, p, pre, ul { margin: 0; }
ul { -webkit-padding-start: 0; }

html {
  font-family: Georgia, serif;
  background-color: #f4f4f4;
  color: #302030;
  line-height: 24px;
}

.footer {
  height: 576px;
  position: relative;
  background-repeat: no-repeat;
  background-position: right top;
  /*background-image: url(/img/speakersitter-sil.png);*/
  background-image: url(/img/speakersitter-sil.png);
  margin-top: 24px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
  padding-left: 12px;
  padding-right: 12px;
}

.list-with-favicons {
  list-style-type: none;
}

.favicon {
  display: inline-block;
  margin-top: 12px;
  padding-left: 24px;
  background-position: top left;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #302030;
}
.favicon:hover {
  text-decoration: underline;
}
.favicon-email {
  background-image: url(/img/favicon-email.png);
}
.favicon-github {
  background-image: url(/img/favicon-github.png);
}
.favicon-linkedin {
  background-image: url(/img/favicon-linkedin.png);
}

.article {
  margin-top: 48px;
  padding-left: 12px;
  padding-right: 12px;
}

.heading {
  margin-top: 48px;
}
.title {
  margin-top: 12px;
}
.main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
