footer.main.footer
  ul.list-with-favicons
    li
      a.favicon-email(href="mailto:duncan@dweebd.com") contact
    li
      a.favicon-github(href="https://github.com/duncanbeevers") github
    li
      a.favicon-linkedin(href="https://www.linkedin.com/in/duncanbeevers") linkedin

  h1.heading Duncan Beevers
  p.title Code rectifier

  canvas.bottom.demo
