footer.footer
  ul.list-with-favicons
    li
      a.favicon.favicon-email(href="mailto:best@duncanbeevers.com") Get in touch
    li
      a.favicon.favicon-github(href="https://github.com/duncanbeevers") Github
    li
      a.favicon.favicon-linkedin(href="https://www.linkedin.com/in/duncanbeevers") LinkedIn

  h1.heading Duncan Beevers
  p.title
    | Code rectifier, web engineer
    br
    | Available for hire
