doctype 5
html(lang="en")
  head
    title
      block title
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/site.css")
    script(src="/js/demo.js")

body
  main.main
    block main

  include footer
